@charset "utf-8";

.logo_image {
    float: left;
    margin-top: 0px;
    margin-left: 14px;
}

.logo_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}

.menu {
    margin-top: 30px;
    width: 1000px;
    height: 500px;
    position: relative;
}

.book_search {
    border: 1px solid black;
    position: relative;
    top: 0px;
    width: 1080px;
    height: 450px;
}

.categorybox select {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 100px;
    height: 32px;
}

.text_input input{
    position: absolute;
    top: 280px;
    left: 130px;
    width: 200px;
    height: 26px;
}

.submit_button input{
    position: absolute;
    top: 280px;
    left: 350px;
    width: 100px;
    height: 33px;
}

.book_recommand {
    border: 1px solid black;
    position: absolute;
    top: 460px;
    left: 0px;
    width: 1080px;
    height: 450px;
  }
  .book_recommand input {
      position: absolute;
      bottom: 50px;
      right: 205px;
      width: 230px;
      height: 40px;
  }

.st_list select {
    position:absolute;
    bottom: 110px;
    right: 400px;
    width: 150px;
    height: 30px;
}

.tt_list select {
    position:absolute;
    bottom: 110px;
    right: 240px;
    width: 150px;
    height: 30px;
}

.dc_list select {
    position:absolute;
    bottom: 110px;
    right: 80px;
    width: 150px;
    height: 30px;
}
.bestseller {
    border: 1px solid black;
    position: absolute;
    top: 920px;
    width: 1080px;
    height: 350px;
}
.daily_button {
      position: absolute;
      top: 70px;
      right: 167px;
}

.weekly_button {
    position: absolute;
    top: 70px;
    right: 90px;
}

.monthly_button {
    position: absolute;
    top: 70px;
    right: 10px;
}

.phrase {
    border: 1px solid black;
    position: absolute;
    top: 1280px;
    width: 530px;
    height: 350px;
  }
  .phrase button {
      position:absolute;
      bottom: 30px;
      right: 20px;
  }
  .phrase pre {
      position: absolute;
      top: 160px;
      left: 60px;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 20px;
      font-weight: lighter;
  }

.review {
    border: 1px solid black;
    position:absolute;
    top: 1280px;
    left: 550px;
    width: 530px;
    height: 350px;
  }
  .review button {
    position:absolute;
    bottom: 30px;
    right: 20px;
  }

  .review img {
      position: absolute;
      top: 140px;
      left: 50px;
  }

.star-rating {
    position: absolute;
    top: 140px;
    right: 80px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label {
    -wedkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
  }

.copyright {
    border: 1px solid black;
    position:absolute;
    top: 1640px;
    width: 1080px;
    text-align: center;
    margin-bottom: 10px;
}
.bs_text {
    position: relative;
    top: 200px;
    left: 110px;
    font-size: 27px;
}

.br_text {
    position: absolute;
    top: 220px;
    right: 150px;
    font-size: 27px;
}

.bsr_text {
    text-align: center;
    font-size: 27px;
}

.ph_text {
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: 30px;
}

.rv_text {
    position: absolute;
    top: 30px;
    left: 145px;
    font-size: 30px;
}